.xlog-logo {
  width: 9rem;
}

.container {
  margin: 0 20px;
}

.main-container {
  background: url("../../../assets/images/future.jpg") no-repeat center center / cover;
  height: calc(100vh - 330px);
  position: relative;

  .title-text {
    position: absolute;
    top: 120px;
    left: 220px;
  }
}

.logistics {
  background-color: rgba(0, 155, 222, 0.226);
  color: white;
  z-index: 1;
}

.z-1 {
  z-index: 1;
}

.services {
  background-color: #e9f1f8;

  h1 {
    background-color: #e9f1f8;
  }
}

.since {
  background-color: #3ea4de;

  h1 {
    background-color: #3ea4de;
  }

  ul {
    li {
      min-width: 150px;
    }
  }
}

.features {


  h1 {
    background-color: white;
  }

  ul {
    background: url("../../../assets/images/Image\ 175.png") no-repeat center center / contain;

    li {
      width: 250px;
      min-width: 200px;
    }
  }
}

.mobile-ad {
  background: rgb(37, 109, 159);
  background: linear-gradient(165deg, rgba(37, 109, 159, 1) 19%, rgba(131, 196, 222, 1) 100%);
}

.card {
  height: 475px;
  width: 375px;
  min-width: 375px;
}

.card-active {
  height: 510px;
  width: 380px;
  min-width: 375px;
  border: 1px solid white;
  box-shadow: 0 0 12px 0 rgba(65, 64, 64, 0.295);
  z-index: 2;
}

.card-bg {
  @apply h-full w-full absolute top-0 left-0;
  z-index: 0;
}

.prev-btn {
  position: absolute;
  top: 50%;
  left: -15px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.next-btn {
  position: absolute;
  top: 50%;
  right: -15px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.req-btn {
  @apply text-white text-xs font-light py-2 px-8 z-1 flex justify-center rounded-md;
  background: #3ea4de;
  position: absolute;
  bottom: -15px;
  box-shadow: 0 3px 4px 1px rgba(65, 64, 64, 0.6);
}

@screen md {
  .main-container {
    height: calc(100vh - 195px);
  }
}

@screen lg {
  .main-container {
    height: calc(100vh - 95px);
  }
}
