<div class="px-12 py-3 bg-white">
  <div class="nav">
    <ul class="flex justify-center items-center text-2xs text-gray-600">
      <li class="mx-5">Services</li>
      <li class="mx-5">Features</li>
      <li class="mx-5">About Us</li>
      <li class="mx-5 xlog-logo">
        <img src="assets/svg/xlog-logo.svg" alt="" class="w-full" />
      </li>
      <li class="mx-5">Contact Us</li>
      <li class="mx-5">Login</li>
      <li class="mx-5">Sign Up</li>
    </ul>
  </div>
  <section class="main-container py-4 flex flex-col justify-end">
    <div class="title-text z-1 text-white leading-none">
      <h1 class="text-4xl mb-2">The Future of</h1>
      <h1 class="text-5xl font-extrabold mb-2">
        LOGISTICS
      </h1>
      <p class="text-2xl">Changing how we do logistics</p>
    </div>
    <!-- <div class="px-48 z-1 mb-5">
      <ul class="flex justify-between py-4 px-4 bg-blue-600">
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center"
        >
          <img src="assets/svg/location.svg" alt="" class="w-2 mr-2" />
          Port - Port
        </li>
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center w-48"
        >
          <img src="assets/svg/location.svg" alt="" class="w-2 mr-2" />
          Port of Loading
        </li>
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center w-48"
        >
          <img src="assets/svg/location.svg" alt="" class="w-2 mr-2" />
          Port of Discharge
        </li>
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center"
        >
          Custom Broker
        </li>
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center"
        >
          Container Type
        </li>
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center"
        >
          <img src="assets/svg/Image 166.svg" alt="" class="w-2 mr-2" />
          ETD / ETA
        </li>
        <li
          class="p-2 text-blue-500 bg-white text-2xs rounded-md flex items-center"
        >
          Search
        </li>
      </ul>
    </div> -->
    <ul class="flex justify-center logistics text-white text-2xs p-2">
      <li
        class="w-40 border-r border-gray-700 flex items-center justify-center cursor"
      >
        <img src="assets/svg/Image 153.svg" alt="" class="w-8" />
        Shipping
      </li>
      <li
        class="w-40 border-r border-gray-700 flex items-center justify-center cursor"
      >
        <img src="assets/svg/Image 154.svg" alt="" class="w-8" />
        Trucking
      </li>
      <li
        class="w-40 border-r border-gray-700 flex items-center justify-center cursor"
      >
        <img src="assets/svg/Image 155.svg" alt="" class="w-6 mr-1" />
        Custom Borkder
      </li>
      <li
        class="w-40 border-r border-gray-700 flex items-center justify-center cursor"
      >
        <img src="assets/svg/Image 156.svg" alt="" class="w-6 mr-1" />
        Warehousing
      </li>
    </ul>
  </section>
</div>
